<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  
    <ion-card-content>

      <ion-card>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
    </ion-card>

    <ion-button routerLink="/tabs/tab1" color="tertiary">Entrar</ion-button>

    <ion-button fill="clear" color="medium">Esqueci a senha</ion-button>

    <div class="afasta">
<ion-button routerLink="/registro" fill="outline" color="tertiary">Registro</ion-button>
</div>
    </ion-card-content>
  </ion-card>
</ion-content>
