<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/home">
        home
      </ion-button>
    </ion-buttons>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="botao">
    <ion-button routerLink="/login" fill="outline">login</ion-button>
    <ion-button routerLink="/registro" fill="outline">registro</ion-button>
  </div>
</ion-content>