<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-card>
        <form [formGroup]="formRegistro">
          <div class="input">
            <ion-input
              formControlName="nome"
              color="button"
              placeholder="Nome"
            ></ion-input>
            <ng-container *ngFor="let erro of mensagens.nome">
              <span
                class="msg-erro"
                *ngIf="formRegistro.get('nome').hasError(erro.tipo) && (formRegistro.get('nome').dirty || formRegistro.get('nome').touched)"
              >
                {{erro.mensagem}}
              </span>
            </ng-container>
          </div>
        
          <div class="input">
            <ion-input
              formControlName="email"
              color="button"
              type="email"
              placeholder="email"
            ></ion-input>
            <ng-container *ngFor="let erro of mensagens.email">
              <span
                class="msg-erro"
                *ngIf="formRegistro.get('email').hasError(erro.tipo) && (formRegistro.get('email').dirty || formRegistro.get('email').touched)"
              >
                {{erro.mensagem}}
              </span>
            </ng-container>
          </div>

          <div class="input">
          
            <ion-input
              formControlName="cpf"
              color="button"
              type="number"
              placeholder="CPF"
            ></ion-input>
            <ng-container *ngFor="let erro of mensagens.cpf">
              <span
                class="msg-erro"
                *ngIf="formRegistro.get('cpf').hasError(erro.tipo) && (formRegistro.get('cpf').dirty || formRegistro.get('cpf').touched)"
              >
                {{erro.mensagem}}
              </span>
            </ng-container>
          </div>

          <div class="input">
      
            <ion-input
              formControlName="senha"
              color="button"
              type="password"
              placeholder="senha"
            ></ion-input>
            <ng-container *ngFor="let erro of mensagens.senha">
              <span
                class="msg-erro"
                *ngIf="formRegistro.get('senha').hasError(erro.tipo) && (formRegistro.get('senha').dirty || formRegistro.get('senha').touched)"
              >
                {{erro.mensagem}}
              </span>
            </ng-container>
          </div>
          <div class="input">
            <ion-input
              formControlName="confirmaSenha"
              color="button"
              type="password"
              placeholder="confirmar Senha"
            ></ion-input>
            <ng-container *ngFor="let erro of mensagens.confirmaSenha">
              <span
                class="msg-erro"
                *ngIf="formRegistro.get('confirmaSenha').hasError(erro.tipo) && (formRegistro.get('confirmaSenha').dirty || formRegistro.get('confirmaSenha').touched)"
              >
                {{erro.mensagem}}
              </span>
            </ng-container>
          </div>
    </form>
    </ion-card>

<div class="botao">
<ion-button (click)="salvarRegistro()">Salvar</ion-button>
<ion-button routerLink="/login" fill="outline" >Voltar</ion-button>
</div>

    </ion-card-content>
  </ion-card>
</ion-content>
